//Шрифты.............................................
$color-green: #27AE60;
$color-yellow: #F2C94C;
$color-red: #EB5757;
$color-orange: #FF5531;
$color-blue-dark: #2B3450;
$color-blue-gray: #4E5E78;
$color-gray: #A0A7B5;
$color-blue: #387DFF;
$color-blue-hover: #286be8;


//Прочее.............................................
$default-trans:all 300ms ease-in-out;