@use '@/shared/styles/vars' as *;

.button{
	cursor: pointer;
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding: 16px 20px;
	border-radius: 10px;
	transition: $default-trans;

	@media (hover: hover) {
		&:hover{
			background: rgb(246, 247, 249);

			span{
				color: $color-blue;
			}

			svg{
				stroke: $color-blue;
			}
		}
	}

	& > * {
		transition: $default-trans;
	}
}

.buttonActive{
	background: rgb(246, 247, 249);

	span{
		color: $color-blue;
	}

	svg{
		stroke: $color-blue;
	}
}